.wrapper {
    margin-top: 15px;
}

.wrapper:hover {
    cursor: pointer;
}

.imagewrapper {
    display: flex;
    justify-content: center;
}

.title {
    padding: 15px;
    padding-top: 0px;
}

.thumbnail {
    width: 100%;
    float: right;
    border-radius: 10px;
    z-index: 1;
}
