.wrapper {
    margin-top: 15px;
}

.wrapper:hover {
    cursor: pointer;
}

.imagewrapper {
    display: flex;
    justify-content: center;
}

.title {
    padding-bottom: 15px;
    font-weight: 300;
}

.thumbnail {
    width: 100%;
    float: right;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .title {
        font-size: 32px;
    }
  }