.wrapper {
  width: 100%;
  background-color: rgba(100,172,139,1);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}



.modal {
  z-index: 1000;
  height: 100%;
  background-color: rgba(100,172,139,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagbtn {
  background-color: inherit;
  border: none;
  padding: 5px;
  font-size: 24px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border: 3px solid white;
  transition: background-color 200ms ease-in-out;
  margin: 2px;
}

.tagbtn:hover {
  background-color: rgba(195,237,175,0.3);
}

.clearbtn {
  background-color: rgba(195,237,175,0.4);
}

.tagfield {
  padding: 5px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  border: 3px solid white;
}

.searchbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.search {
  width: auto;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 5px 0px 0px 5px;
}

.btn {
  padding: 5px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 0px 5px 5px 0px;
  background-color: rgba(100,172,139,1);
  color: white;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: rgba(195,237,175,0.3);
  cursor: pointer;
}

.logo {
  float: left;
  font-size: 40px;
  padding: 20px;
  padding-left: 20px;
  transition: transform 200ms ease-in-out;
  text-align: center;
}

.logo a {
  font-weight: 300;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.logo:hover {
  transform: scale(1.2, 1.2);
}

.right {
  font-size: 24px;
  float: right;
  padding: 10px;
  display: flex;
}

.right div {
  margin: auto;
  padding: 10px;
  white-space: nowrap;
}

.right div a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 800px) {

  .mobilelogo, .mobilesearch {
    display: flex;
    flex-direction: column;
    background-color: rgba(100,172,139,1);
  }

  .mobilelogo {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
  }

  .logo {
    margin: auto;
    font-size: 40px;
    padding: 20px;
    transition: transform 200ms ease-in-out;
    text-align: center;
  }
  
  .right {
    padding: 0;
  }

  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchbar form {
    display: flex;
    justify-content: center;
  }

  .search{
    width: 60%;
  }
}
